/*ESTILO DEL LOGEO*/
.caja{
    margin: 0 auto;
    padding: 0px;
}
.logeo{
    background: rgba(0,0,0,.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#titulo-logeo{
    color: #fff;
}
/*ESTILO DEL CARRUSEL BANNER*/
.carousel-img{
    width: 100%;
    height: 300px;
}
html, body{
    background-color: #F1F3F5;
}
/*ESTILO DEL POSTEO DE CADA ARTICULO*/
.main{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}
.post .post-tittle a{
    color: #333;
}
.post .thumb{
    margin-right: 10px;
    width: 40%;
}
.post .thumb img{
    width: 100%;
}
.post .contenedor-botones{
    width: 100%;
}
input[name="btnIngresar"]{

}
